<section class="carousel">
    <div class="body-container">
        <div class="row">
            <div class="col-lg-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>


                    <div class="carousel-inner" role="listbox">
                        <div class="item active" href="/#!/crea-tu-beerpack">
                            <img src="../../../media/img/Feature_Custom_04.jpg" alt="Crea tu Beerpack">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Bienvenido a Bevybar</h1>
                                    <p>Las mejores cervezas directo a tu casa</p>
                                    <div class="btn">Creá tu beerpack</div>
                                </div>
                            </div>
                        </div>
                        <div class="item" href="/#!/crea-tu-beerpack">
                            <img src="../../../media/img/Feature_Friends_02.jpg" alt="Crea tu Beerpack">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Bienvenido a Bevybar</h1>
                                    <p>Las mejores cervezas directo a tu casa</p>
                                    <div class="btn">Creá tu beerpack</div>
                                </div>
                            </div>
                        </div>
                        <div class="item" href="/#!/crea-tu-beerpack">
                            <img src="../../../media/img/Feature_Shipping_01.jpg" alt="Crea tu Beerpack">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Bienvenido a Bevybar</h1>
                                    <p>Las mejores cervezas directo a tu casa</p>
                                    <div class="btn">Creá tu beerpack</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <ul>
        <li style="width:100px; display:inline-block;" ng-repeat="beer in home.beers | filter: {site:2}">
            <img class="img-responsive" src="{{beer.image}}">
        </li>
    </ul>
</section>

<section>
    <ul>
        <li style="width:100px; display:inline-block;" ng-repeat="pack in home.packs | filter: {site:1}">
            <img class="img-responsive" src="{{pack.image}}">
        </li>
    </ul>
</section>

<section class="parallax">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>creá tu beerpack hoy</p>
            <div class="btn">
                <a href="/#!/crea-tu-beerpack">crear beerpack</a>
            </div>
        </div>
    </div>
</section>

