<div class="row">
    <div class="col-sm-4 counter">
        MI BEERPACK
        <span>({{capscart.number}}/12)</span>
    </div>
    <div class="col-sm-3 caps">
        <ul>
            <li ng-repeat="i in capscart.pack track by $index"></li>
        </ul>
    </div>
    <div class="col-sm-5 checkout">
        <div class="row">
            <div class="col-sm-7 packs">
                {{capscart.completedpacks}} Packs
            </div>
            <div class="col-sm-4 money">
                $ {{capscart.money}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 button">
                <a ng-click="capscart.checkout()">mi carrito</a>
            </div>
        </div>
    </div>
</div>